.container {
    position: absolute;
    cursor: pointer;
    width: 200px;
    height: 250px;
    border-radius: 8px;
    padding: 12px 12px 8px 12px;
    border-color: #967114;
    background: #f4d471;
}

.container:hover {
    border: 2px solid beige
}

.header {
    margin: 0;
    display: flex;
    justify-content: space-between;
    font-weight: 400;
}

.title {
    background-color: #f4d471;
    border: none;
    width: 100%;
}

.icon {
    margin-left: 12px;
    background-color: #f4d471;
    border-radius: 50%;
    transition: .1s;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.icon:hover {
    background-color: rgba(60,64,67,.1);
}

.textarea {
    margin-top: 12px;
    background-color: #f4d471;
    border: none;
    width: calc(100% - 4px);
    height: calc(100% - 40px);
    resize: vertical;
}