.container {
    width: 240px;
    border-radius: 4px;
    padding: 12px 12px 8px 12px;
    background-color: #f4d471;
    border-color: #967114;
}

.textarea {
    background-color: #f4d471;
    border: none;
    width: calc(100% - 4px);
    height: 100%;
    resize: vertical;
}